opencv-python>=4.8
numpy>=1.23,<2.0
scipy>=1.10
matplotlib>=3.7

torch>=2.0
torchvision>=0.15
ultralytics>=8.1

filterpy>=1.4
scikit-learn>=1.2
tqdm>=4.65


# cai thi dung lenh nay : pip install -r src/requirements.txt